<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmdKdI-HUp48nRJ2CCIR6HkmLvpmWcLcY</string>
	<key>GCM_SENDER_ID</key>
	<string>636953773414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.NewsToYou</string>
	<key>PROJECT_ID</key>
	<string>newstoyou-445f9</string>
	<key>STORAGE_BUCKET</key>
	<string>newstoyou-445f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636953773414:ios:3f68b3918e909d127534a7</string>
</dict>
</plist>